.editorToolbar {
  align-items: center;
  background-color: #eef2f9;
  border-radius: 35px;
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.buttonGroup {
  background-color: green;
  height: 30px;
  margin: 0px 10px;
}

.leftDivider {
  border-left: 1px solid purple;
}

.editorToolbar > button {
  background-color: transparent;
  border: none;
  height: 30px;
  margin: 1px;
  min-width: 30px;
}

.editorToolbar > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}
